/*! Place your custom styles here */
[v-cloak] {
    display: none;
}

.cursor-link {
    cursor: pointer;
}

.disabled-cursor {
    cursor: not-allowed;
}

.view-publish .step-4 .input-radio input:disabled + label::after {
    background-color: #b3b3b3;
}

.color-name {
    color: #222222;
    text-decoration: none;
}

.color-name:hover {
    color: #222222;
    text-decoration: none;
    text-decoration-color: #222222 !important;
}

.color--link {
    color: #4A90E2;
}

.color--link:hover {
    color: #2275d7;
}

.modal-active.showing {
    opacity: 1;
}

.comment-like, .post-like {
    transform-origin: unset;
}

.inline {
    display: inline;
}

.post-like-count {
    position: absolute;
    display: inline;
    top: 1px;
    left: 68%;
}

li > .search {
    color: white;
    cursor: pointer;
}

.navbar-menu-icon {
    color: white;
    cursor: pointer;
}

.link-username {
    color: #222222;
    cursor: pointer;
    font-size: 12px;
}

.link-username:hover {
    color: #222222;
    text-decoration: underline;
}

.name > .link-username {
    font-size: 14px;
    font-weight: bold;
}

p > ul > li {
    list-style: inside;
}

.refused-payout {
    text-decoration: line-through;
    color: #999!important;
}

.videodetector {
    position      : relative;
    width         : 100%;
    height        : 0;
    padding-bottom: 60%;
}

.vimeo {
    padding: 56.25% 0 0 0;
}

.videoembed {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 100%;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}