/*! Place your custom styles here */
[v-cloak] {
    display: none;
}

.cursor {
    cursor: pointer;
}

.cursor:hover {
    text-decoration: underline;
}

.view-publish .step-4 .input-radio input:disabled + label::after {
    background-color: #b3b3b3;
}

.color--link {
    color: #4A90E2;
}

.color--link:hover {
    color: #2275d7;
}

.modal-active.showing {
    opacity: 1;
}

li > .search {
    color: white;
    cursor: pointer;
}