$background-navbar-dark: #181818;

$color-white: white;

$color-blue-primary: #0073FF;
$color-dark-primary: #222222;

$borde-dropdown-price: #DFDFDF;

$grey-light: #999999;

$grey-circle: #CACACA;

$background-checkbox: #eaeaea;

$active-circle: #0073FF;

$border-btn-transparent: #3B3B3C;

$background-modal: #F9F9F9;

$grey-text: #484848;

$notification-navbar: #ff5766;

$color-buy: #25D77C;

$background-btn-secondary: #FFD952;

$radio-button-light: #e6e6e6;

$border-solid-grey: #ececec;

$link-color-a-grey: #878787;