.view-welcome .logo-welcome {
  margin: 50px 0 -50px 15px; }
.view-welcome .show-row {
  overflow: visible !important; }
.view-welcome h1 {
  font-size: 25px;
  font-weight: 400;
  color: #222222; }
.view-welcome .lead {
  font-size: 14px;
  color: #222222; }
.view-welcome .circle-welcome {
  width: 9px;
  height: 9px;
  border-radius: 5px;
  background-color: #CACACA; }
.view-welcome .circle-welcome.active {
  background-color: #0073FF; }
.view-welcome .list-inline li:not(:last-child) {
  margin-right: 0.85714286em; }
.view-welcome .btn {
  border-radius: 25px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2em;
  padding-left: 2em;
  border: 1px solid white;
  border-width: 1px;
  font-size: inherit;
  line-height: 1.85714286em; }
.view-welcome .content-slide-welcome {
  line-height: 74px; }
.view-welcome .col-terms {
  margin-bottom: -40px; }

.banner-welcome-1 {
  left: 0 !important; }

[data-overlay="4"]:before {
  opacity: 0 !important; }

.col-banner-content {
  margin-left: 50% !important; }

.imagebg:not(.image--light) h1, .imagebg:not(.image--light) h2, .imagebg:not(.image--light) h3, .imagebg:not(.image--light) h4, .imagebg:not(.image--light) h5, .imagebg:not(.image--light) h6, .imagebg:not(.image--light) p, .imagebg:not(.image--light) ul, .imagebg:not(.image--light) blockquote {
  color: #222222; }

[data-overlay]:before {
  background: #f9f9f9; }

.slide-img-1 {
  background-image: url("/img/crea-web/welcome/slide-1.jpg"); }

.position-img-slide {
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center; }

.simple-view-home .container {
  max-width: 500px; }

.view-profile table img {
  width: 20px; }
.view-profile .p-top-15 {
  padding-top: 15px; }
.view-profile .card.card-2.card-home {
  font-size: 12px;
  margin-bottom: 15px; }

#profile-edit > .row {
  margin-bottom: 20px; }

.view-wallet .padding-b-10 {
  padding-bottom: 10px; }
.view-wallet .tabs-container-primary .tabs-primary {
  border: 1px solid transparent;
  padding: 10px; }
  .view-wallet .tabs-container-primary .tabs-primary li.active {
    border-top: 3px solid transparent; }
  .view-wallet .tabs-container-primary .tabs-primary li:not(:last-child) {
    border-right: 1px solid transparent; }
.view-wallet .tabs--folder .tabs-content {
  border: 1px solid transparent;
  padding-top: 0; }
.view-wallet .table-amount tbody tr td:nth-child(1) {
  width: 70%; }
  .view-wallet .table-amount tbody tr td:nth-child(1) p:nth-child(1) {
    font-weight: bold; }
.view-wallet .table-amount tbody tr td p {
  margin-bottom: 0; }
.view-wallet .table-amount tbody tr td:nth-child(2) {
  vertical-align: middle; }
.view-wallet .table-permission tbody tr td:nth-child(1) {
  width: 70%; }
  .view-wallet .table-permission tbody tr td:nth-child(1) p:nth-child(1) {
    font-weight: bold; }
  .view-wallet .table-permission tbody tr td:nth-child(1) p:nth-child(2) img {
    width: 45px !important;
    margin-right: 10px; }
.view-wallet .table-permission tbody tr td p {
  margin-bottom: 0; }
.view-wallet .table-permission tbody tr td:nth-child(2) {
  vertical-align: middle; }

.row-list-user {
  display: flex;
  border-bottom: solid 1px #DFDFDF; }
  .row-list-user .avatare-list {
    margin-top: 10px;
    width: 40px;
    height: 40px; }
    .row-list-user .avatare-list img {
      border-radius: 20px; }
  .row-list-user .list-data-user {
    width: 80%;
    margin: 0 5px;
    padding: 10px 0; }
    .row-list-user .list-data-user p:nth-child(1) {
      font-size: 14px;
      font-weight: 600; }
      .row-list-user .list-data-user p:nth-child(1) span {
        font-size: 12px;
        color: #999999;
        font-weight: normal; }
    .row-list-user .list-data-user p {
      margin-bottom: 0; }
  .row-list-user .list-amount {
    width: 15%;
    font-weight: 600;
    position: relative;
    top: 33px; }

.modal-send .text-p-form {
  margin-top: 5px; }

.coming-soon .logo-coming {
  width: 500px; }
.coming-soon .h2-title {
  color: white !important;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px; }
.coming-soon .p-subscribe {
  color: white !important;
  font-size: 21px; }
.coming-soon .btn-dark-primary {
  margin-top: 30px;
  background: #020002;
  border-radius: 20px; }
.coming-soon .height-100 {
  height: 100vh !important; }
@media (max-width: 767px) {
  .coming-soon .row-content {
    height: 100vh;
    padding: 0 0; } }
@media (min-width: 768px) {
  .coming-soon .cover .row .row:last-child {
    margin-top: -1.428571em; } }

.view-publish label {
  font-size: 14px; }
.view-publish .input-radio .input__label {
  font-size: 14px; }
.view-publish input, .view-publish select {
  height: auto; }
.view-publish .li-title-steps {
  font-size: 14px; }
  .view-publish .li-title-steps p.active {
    color: #0569EF; }
.view-publish .section-title-step, .view-publish .section-text-step {
  margin-bottom: 20px; }
  .view-publish .section-title-step .title-steps, .view-publish .section-text-step .title-steps {
    font-size: 14px;
    color: #0569EF;
    font-weight: bold;
    margin-bottom: 0; }
  .view-publish .section-title-step .description-step-title, .view-publish .section-text-step .description-step-title {
    font-size: 14px; }
.view-publish .step-1 .upload-img {
  position: relative;
  margin-bottom: 10px; }
  .view-publish .step-1 .upload-img .delete-img-step-1 {
    position: absolute;
    right: 10px;
    top: 5px; }
    .view-publish .step-1 .upload-img .delete-img-step-1 a {
      color: white; }
.view-publish .step-1 .row-options-steps-1 {
  margin-top: 160px;
  margin-bottom: -50px; }
.view-publish .step-2 .row-options-steps-1 {
  margin-top: 160px;
  margin-bottom: -50px; }
.view-publish .step-2 .input-radio input:checked + label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 7px;
  top: 7px;
  background-color: #fff;
  border-radius: 50%; }
.view-publish .step-2 .input-radio-step-2 {
  display: flex;
  margin-top: 10px; }
  .view-publish .step-2 .input-radio-step-2 .input-radio:nth-child(2) {
    margin-left: 15px; }
  .view-publish .step-2 .input-radio-step-2 .input-radio {
    display: flex; }
    .view-publish .step-2 .input-radio-step-2 .input-radio label {
      margin-left: 5px; }
.view-publish .step-4 .row-options-steps-1 {
  margin-top: 160px;
  margin-bottom: -50px; }
.view-publish .step-4 .input-radio input:checked + label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 7px;
  top: 7px;
  background-color: #fff;
  border-radius: 50%; }
.view-publish .step-4 .input-radio-step-2 {
  display: flex;
  margin-top: 10px; }
  .view-publish .step-4 .input-radio-step-2 .input-radio:nth-child(2) {
    margin-left: 15px; }
  .view-publish .step-4 .input-radio-step-2 .input-radio:nth-child(3) {
    margin-left: 15px; }
  .view-publish .step-4 .input-radio-step-2 .input-radio {
    display: flex; }
    .view-publish .step-4 .input-radio-step-2 .input-radio span {
      margin-left: 5px; }
.view-publish .step-4 .ul-icon-license img {
  width: 30px; }
.view-publish .step-4 .row-text-license {
  margin-top: 20px; }
  .view-publish .step-4 .row-text-license p {
    font-size: 14px;
    margin-bottom: 0; }
  .view-publish .step-4 .row-text-license span {
    font-size: 14px;
    color: #0569EF; }
.view-publish .step-4 .row-text-finish {
  margin-bottom: 20px; }
  .view-publish .step-4 .row-text-finish p {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0; }
  .view-publish .step-4 .row-text-finish span {
    font-size: 12px; }

.post-view {
  background: #F9F9F9 !important; }
  .post-view section {
    padding-top: 50px; }
  .post-view .border-post-view {
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    overflow: hidden; }
    .post-view .border-post-view .border-box {
      border-right: 1px solid #DFDFDF;
      overflow: hidden;
      padding: 0 0 0 15px; }
    .post-view .border-post-view .full-post .content-post h2.title-view-post {
      margin: 20px 0;
      font-size: 40px;
      font-weight: 400; }
    .post-view .border-post-view .full-post .content-post p {
      font-size: 14px; }
    .post-view .border-post-view .full-post .img-post-view img {
      margin-bottom: 20px; }
    .post-view .border-post-view .full-post .row-promote {
      margin: 20px 0; }
    .post-view .border-post-view .full-post .subtitle-content-publish {
      font-size: 14px;
      margin: 20px 0 20px; }
    .post-view .border-post-view .full-post .img-more-projects {
      background-image: url("/img/crea-web/publish/demo-vertical.jpg");
      height: 164px;
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      cursor: pointer;
      border-radius: 6px 6px 0 0; }
    .post-view .border-post-view .full-post .box-comment {
      background: white; }
      .post-view .border-post-view .full-post .box-comment .row-comment {
        display: flex; }
        .post-view .border-post-view .full-post .box-comment .row-comment .textarea {
          margin-left: 10px;
          width: 100%; }
      .post-view .border-post-view .full-post .box-comment h3 {
        font-size: 14px;
        font-weight: 600; }
      .post-view .border-post-view .full-post .box-comment .row-post-comments {
        display: flex; }
        .post-view .border-post-view .full-post .box-comment .row-post-comments .user-comments {
          margin-left: 10px; }
          .post-view .border-post-view .full-post .box-comment .row-post-comments .user-comments p {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 0; }
            .post-view .border-post-view .full-post .box-comment .row-post-comments .user-comments p img {
              margin: 0 10px;
              width: 20px;
              height: 20px; }
            .post-view .border-post-view .full-post .box-comment .row-post-comments .user-comments p span {
              font-size: 12px;
              color: #999999; }
          .post-view .border-post-view .full-post .box-comment .row-post-comments .user-comments .comment-user {
            color: #484848; }
          .post-view .border-post-view .full-post .box-comment .row-post-comments .user-comments .ul-row-share-comment li:nth-child(2) {
            border: solid 1px #3B3B3C;
            border-radius: 20px;
            padding: 0 15px; }
          .post-view .border-post-view .full-post .box-comment .row-post-comments .user-comments .ul-row-share-comment img {
            width: 16px;
            height: 16px;
            margin-right: 5px; }
          .post-view .border-post-view .full-post .box-comment .row-post-comments .user-comments .ul-row-share-comment p {
            font-size: 12px;
            font-weight: 400;
            color: #484848; }
      .post-view .border-post-view .full-post .box-comment .more-comments {
        color: #999999;
        font-weight: 600; }
    .post-view .border-post-view .full-post .box-report img {
      width: 25px;
      height: 25px;
      margin-right: 10px; }
    .post-view .border-post-view .full-post .box-report p {
      color: #999999; }
    .post-view .border-post-view .full-post .box-blockchain-certificate .certificat-flag {
      position: absolute;
      top: 0px;
      z-index: 1000000; }
    .post-view .border-post-view .full-post .box-blockchain-certificate .feature:not(.boxed) {
      margin-bottom: 10px; }
    .post-view .border-post-view .full-post .box-blockchain-certificate .feature-2 .feature__body {
      width: 90%;
      float: right; }
      .post-view .border-post-view .full-post .box-blockchain-certificate .feature-2 .feature__body p {
        margin-bottom: 0; }
      .post-view .border-post-view .full-post .box-blockchain-certificate .feature-2 .feature__body h2.title-certificate {
        margin-bottom: 0;
        font-size: 20px;
        font-weight: 600; }
      .post-view .border-post-view .full-post .box-blockchain-certificate .feature-2 .feature__body .li-blockchain-certificate {
        background-color: #222222;
        padding: 5px 10px;
        border-radius: 20px; }
        .post-view .border-post-view .full-post .box-blockchain-certificate .feature-2 .feature__body .li-blockchain-certificate img {
          width: 20px;
          height: 20px;
          margin-right: 5px; }
  .post-view .menu-right {
    padding-left: 0; }
    .post-view .menu-right hr {
      margin: 20px 0;
      border-color: #CACACA; }
    .post-view .menu-right .row {
      padding-left: 15px;
      padding-right: 15px; }
    .post-view .menu-right .row-user-name {
      display: flex;
      margin-top: 10px; }
    .post-view .menu-right .user-data {
      padding: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .post-view .menu-right .user-data .name {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
      .post-view .menu-right .user-data .website {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .post-view .menu-right .row-master {
      margin: 20px 0; }
      .post-view .menu-right .row-master .col-md-6 {
        display: flex; }
        .post-view .menu-right .row-master .col-md-6 p {
          margin-left: 10px;
          margin-top: 3px; }
      .post-view .menu-right .row-master img {
        width: 28px;
        height: 28px; }
    .post-view .menu-right .row-publish-description p {
      font-size: 14px;
      font-weight: bold; }
    .post-view .menu-right .row-publish-tags p {
      font-size: 14px;
      font-weight: bold; }
    .post-view .menu-right .row-social .ul-social li:nth-child(1) {
      padding-top: 0;
      padding-bottom: 10px;
      border-bottom: solid 1px #CACACA; }
    .post-view .menu-right .row-social .ul-social li {
      display: flex;
      padding: 10px;
      border-bottom: solid 1px #CACACA; }
      .post-view .menu-right .row-social .ul-social li p {
        margin-left: 10px;
        margin-top: 3px; }
      .post-view .menu-right .row-social .ul-social li img {
        width: 30px;
        height: 30px; }
    .post-view .menu-right .row-download {
      margin-top: 20px; }
      .post-view .menu-right .row-download .title {
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 0px; }
      .post-view .menu-right .row-download .row-format {
        padding-top: 20px;
        padding-bottom: 0; }
  .post-view .user-avatar {
    height: 50px;
    width: 50px;
    overflow: hidden;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50px; }
  .post-view .img-user-avatar {
    background-image: url("/img/crea-web/publish/demo-vertical.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
    background-position: 50% 50%; }

body {
  color: #222222;
  font-size: 12px;
  background: #F9F9F9; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #222222; }

label {
  font-size: 12px; }

.row-close {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 100;
  font-size: 20px; }
  .row-close a {
    color: white !important; }

.btn .btn__text, .btn i {
  font-size: 12px; }

.bar-1 .menu-horizontal > li > .dropdown__trigger, .bar-1 .menu-horizontal > li > a {
  font-size: 14px; }

.btn--primary, .btn--primary:visited {
  background: #0569EF;
  border-color: #0569EF; }

.btn--black, .btn--black:visited {
  background: #222222;
  border-color: #222222;
  color: white; }

.color--white {
  color: white !important; }

.btn--transparent {
  border: solid 1px #3B3B3C !important;
  background-color: transparent !important; }

.masonry__item:not(:empty) {
  margin-bottom: 30px;
  transform-style: flat; }

#slide-home {
  padding: 15em 0; }
  #slide-home h1, #slide-home h3, #slide-home span {
    color: white; }

img {
  margin-bottom: 0; }

.no-padding {
  padding: 0 !important; }

.card-home {
  background-color: white; }
  .card-home .card__top {
    height: 212px; }
    .card-home .card__top .img-post-list {
      background-image: url("https://ipfs.io/ipfs/QmbV3jBeZ2irQgWSBp4SC7H1L4KN3rLruMrA4ZYwiTMSeA");
      height: 212px;
      background-size: cover;
      background-position: 50% 50%;
      width: 100%;
      cursor: pointer;
      border-radius: 6px 6px 0 0; }
  .card-home .modal-instance {
    width: 100%; }
  .card-home .dropdown-price {
    border: 1px solid #505050;
    border-radius: 25px;
    padding: 0 10px; }
  .card-home .li-like {
    width: auto; }
    .card-home .li-like a {
      color: #222222; }
      .card-home .li-like a img {
        width: 14px; }
  .card-home .li-comment {
    width: auto; }
    .card-home .li-comment a {
      color: #222222; }
      .card-home .li-comment a img {
        width: 14px; }
  .card-home .li-certificate img {
    width: 15px; }
  .card-home .dropdown-price .dropdown__content p {
    margin: 0; }
  .card-home .dropdown-price .dropdown__content p.title {
    color: #0569EF; }
  .card-home .dropdown-autor .dropdown__content p {
    margin: 0; }
  .card-home .card-show {
    overflow: visible; }
  .card-home .dropdown-info-user .btn {
    border-radius: 25px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2em;
    padding-left: 2em;
    border: 1px solid white;
    border-width: 1px;
    font-size: inherit;
    line-height: 1.85714286em; }
  .card-home .dropdown-info-user .btn .btn__text, .card-home .dropdown-info-user .btn i {
    color: white;
    border-color: white; }
  .card-home .dropdown-info-user .avatare-info {
    width: 55px;
    margin: 10px 0; }
  .card-home .dropdown-info-user p.name {
    font-size: 16px;
    font-weight: bold; }
  .card-home .dropdown-info-user p.description-user {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .card-home .dropdown-info-user p.email-user {
    margin: 10px 0; }
  .card-home .dropdown-info-user p.title-stats {
    font-size: 16px;
    font-weight: bold; }

.dropdown .dropdown__content {
  border-radius: 1px;
  border: solid 1px #DFDFDF;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
  padding: 1.23809524em 1.85714286em; }

.card-2 .card__body {
  padding: 10px; }

.card-2 .card__bottom {
  padding: 10px; }

.background-navbar-dark {
  background-color: #181818; }
  .background-navbar-dark .menu-horizontal > li > a, .background-navbar-dark .menu-horizontal > li > span, .background-navbar-dark .menu-horizontal > li > .modal-instance > .modal-trigger {
    color: white;
    text-transform: none; }
  .background-navbar-dark .menu-horizontal > li:not(:hover) > a, .background-navbar-dark .menu-horizontal > li:not(:hover) > span, .background-navbar-dark .menu-horizontal > li:not(:hover) > .modal-instance > .modal-trigger {
    opacity: 1; }
  .background-navbar-dark .log-in {
    color: #0569EF !important; }

.text__dark {
  color: #3B3B3C !important; }

.btn:hover .text__dark {
  color: white !important; }

.btn .btn__text, .btn i {
  color: white;
  border-color: white; }

.btn {
  border-radius: 25px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 2em;
  padding-left: 2em;
  border: 1px solid white;
  border-width: 1px;
  font-size: inherit;
  line-height: 1.85714286em; }

.btn:not([class*='primary']):hover {
  border-color: #0569EF;
  background-color: #0569EF; }

@media (min-width: 1200px) {
  #menu1 .container {
    max-width: 100%; }

  .container {
    max-width: 1200px; } }
@media (min-width: 992px) {
  .container {
    max-width: 100%; }

  #menu1 .bar__module {
    display: inline-block; } }
@media (min-width: 768px) {
  #menu1 .container {
    max-width: 100%; }
  #menu1 .bar__module {
    display: inline-block; } }

/*# sourceMappingURL=creativechain.css.map */
