.exchange {

  .btn-buy-exchange {
    background-color: $color-buy;
  }
  .btn-buy-exchange:hover {
    background-color: #1D9658;
    border-color: transparent ;
  }
  .btn-sell-exchange {
    background-color: #ff5766;
    border-color: transparent;
  }
  .btn-sell-exchange:hover {
    background-color: #AD343F;
    border-color: transparent;
  }
  table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid transparent;
  }
  .title-section {
    font-size: 25px;
    font-weight: 600;
  }
  .subtitle-module-exchange {
    font-size: 14px;
    margin-left: 6px;
    margin-bottom: 10px;
  }
  .navbar-resum {
    padding: 0 15px !important;
  }
  #buy_left_result_all_wrapper {
    .dataTables_scrollHeadInner {
      width: 100% !important;
      table {
        width: 100% !important;
        thead {
          th {
            width: 64px !important;
          }
          th:nth-last-child{
            width: 68px !important;
          }
        }
      }
    }
  }
  #market-history_wrapper {
    .dataTables_scroll {
      .dataTables_scrollBody {
        max-height: 553px !important;
      }
    }
  }
  .form-buy-sell {
    padding: 15px !important;
    i {
      right: 15px;
      left: auto;
      top: 6px;
      color: $grey-light;
    }
    .input-icon input {
      padding-left: 15px;
      padding-right: 83px;
    }
    h6:not(:last-child), .h6:not(:last-child) {
      margin-bottom: 10px ;
    }
    .title {
      font-size: 14px;
      margin-bottom: 10px;
    }
    a.btn {
      max-width: 100px;
    }
  }
  .color--primary-exchange {
    color: $color-dark-primary;
  }
  .color-sell {
    color: $notification-navbar;
  }
  .color-buy {
    color: $color-buy;
  }
  .boxed {
    padding: 0;
  }
  .tabs li:not(.active) {
    opacity: 0.2;
  }
  .gray-color {
    color: #999!important;
  }
  .green-color {
    color: $color-buy !important;
  }
  .red-color {
    color: $notification-navbar !important;
  }
  .header-exchange {
    .head-splits {
      display: inline-block;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      .title {
        font-size: 1.2em;
        font-weight: 900;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
        font-weight: 900;
      }
      .amount {
        font-size: 14px;
      }
    }
  }
  .ul-market-buy-sell {
    border: 1px solid transparent;
    display: flex;
    li:not(.active) {
      img {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
    }

    li {
      padding: 5px 10px 7px;
    }
    .table-buy-sell-market {
      thead {
        tr {
          th:last-child {
            text-align: right;
          }
        }
      }
    }
  }
  .table-buy-sell-market {
    thead {
      tr {
        th {
          width: 33% !important;
        }
        th:nth-child(3) {
          text-align: right;
        }
      }
    }
  }
  .buy_left_result_all {
    tbody {
      tr {
        td {
          width: 33%;
        }
      }
    }
  }
  #buy-orders {
    tbody {
      tr {
        td:last-child {
          text-align: right;
        }
      }
    }
  }
  .market-history {
    tbody {
      tr.active-tr {
        background-color: #F2F2F2 !important;
        td {
          font-weight: 700;
        }
      }
    }
  }
  #sell-orders {
    tbody {
      tr {
        td:last-child {
          text-align: right;
        }
      }
    }

  }
  #sell-orders_wrapper {
    .dataTables_scrollBody {
      min-height: 250px;
    }
  }
  #buy-orders_wrapper {
    .dataTables_scrollBody {
      min-height: 250px;
    }
  }
  .tabs-content {
    border-top: solid 1px $border-solid-grey;
  }
  table.dataTable thead th, table.dataTable thead td {
    padding: 5px 8px;
    border-right: solid 1px transparent;
    border-bottom: 1px solid transparent;
  }
  table.dataTable tbody th, table.dataTable tbody td {
    padding: 3px 10px;
  }
  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #efefef;
  }
  table {
    thead {
      tr {
        th {
          background: white;
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
  .dataTables_scrollHeadInner {
    width: 100% !important;
    .display {
      width: 100% !important;
    }
  }
  .color-title-table-primary {
    color: #252525;
  }

}

@media (max-width: 991.98px) and (min-width: 768px) {
  .exchange {
    .container {
      max-width: 100%;
    }
  }
}

