.exchange {
  .gray-color {
    color: #999!important;
  }
  .green-color {
    color: #70a800!important;
  }
  .red-color {
    color: $notification-navbar !important;
  }
  .header-exchange {
    .head-splits {
      display: inline-block;
      margin-right: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      .title {
        font-size: 1.2em;
        font-weight: 900;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 0;
        font-weight: 900;
      }
      .amount {
        font-size: 14px;
      }
    }
  }
}
