.closed-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: 900;
  content: "";
  z-index: 10;

}
#modal-post {
  #post-navigation-view {
    padding: 0;
    height: 100vh;

    .modal-content {
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: hidden;
      max-height: 100%;
      section {
        padding: 25px 0;
        .border-post-view {
          margin-bottom: 30px;
        }
        .row-content-post {
          .img-post-view {
            .upload-img {
              margin-left: -17px;
              img {
                margin-bottom: 0;
                max-width: 960px;
              }
            }

          }
        }
        .flickity-viewport {
          height: 237px;
        }
      }
      .box-comment {
        hr {
          margin: 1.85714286em -23px;
        }

        .dropdown-like-comment {
          left: 0 !important;
        }
      }
      .size-20-comment {
        width: 30px !important;
        height: 15px !important;
      }
      .modal-container .modal-content .modal-close-cross {
        top: 5px;
      }
      .ul-row-share-comment {
        .dropdown--active {
          .price {
            left: -135px !important;
          }
        }
      }
    }

  }
}
