.view-profile {
  .welcome-profile-empty {
    .col-md-12 {
      p:nth-child(1) {
        font-weight: bold;
        margin-bottom: 0
      }
      p {
        font-size: 18px;
      }
    }
    .row-options-empty {
      display: grid;
    }
    a {
      font-weight: normal
    }
  }
  .title-section-profile{
    font-size: 12px;
    font-weight: bold;
    margin: 10px;
    text-transform: uppercase;
  }
  .row-list {
    .row:last-child {
      border-bottom: solid 1px transparent !important;
    }
  }
  .profile-summary {
    .col-md-7 {
      margin-bottom: 10px;
    }
    img {
      width: 16px;
      margin-right: 5px;
      margin-top: -4px;
    }
    span {
      font-weight: 600;
    }
    .a-following {
      background-image: url('/img/icons/following.svg');
      background-repeat: no-repeat;
      padding: 0 24px;
    }
    .a-following.active {
      background-image: url('/img/icons/following_ACT.svg');
      background-repeat: no-repeat;
      padding: 0 24px;
    }
    .a-following:hover {
      background-image: url('/img/icons/following_ACT.svg');
      background-repeat: no-repeat;
      padding: 0 24px;
    }
    a:hover {
      color: $color-blue-primary !important;
      font-weight: 600;
    }

    a {
      color: $color-dark-primary;
      font-weight: 600;
    }
    a.active {
      color: $color-blue-primary;
      font-weight: bold;
    }
  }
  .p-top-15 {
    padding-top: 15px;
  }
  .card.card-2.card-home {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .menu-secondary-profile {
    .dropdown {

      span {
        color: $color-dark-primary;
        font-size: 14px;
      }
    }
    a {
      color: $color-dark-primary;
      font-size: 14px;
    }
    a.active {
      font-weight: bold;
    }
  }
  .dropdown {
    a {
      color: $color-dark-primary;
    }
    span {
      color: $color-dark-primary;
    }
  }
  .profile-tags {
    .title-tags {
      font-weight: bold;
      margin-bottom: 5px;
    }
  }
  .block-all {
    img {
      width: 16px;
      margin-right: 5px;
    }
    p {
      color: $grey-light;
    }
  }
  .menu-profile-user {
    hr {
      margin: 1.85714286em -20px;
    }
    .nameUser {
      color: $grey-light;
    }
    .user-avatar {
      height: 70px;
      width: 70px;
      overflow: hidden;
      min-height: 70px;
      min-width: 70px;
      border-radius: 50px;
      margin: 20px auto;

    }
    .img-user-avatar {
      background-image: url("/img/crea-web/publish/demo-vertical.jpg");
      background-size: cover;
      width: 70px;
      height: 70px;
      background-position: 50% 50%;
    }
    .h5 {
      font-size: 14px;
      font-weight: 600;
    }
    .ranking-user-info {
      img {
        width: 16px;
        margin-right: 5px;
      }
    }
  }
}


.view-rewards {
  .box-rewards-autor {
    font-size: 14px;
  }
  .box-summary {
    p {
      margin-bottom: 0;
    }
    .blue-summary {
      color: $color-blue-primary;
    }
  }
  .tbody-rewards {
    tr:first-child {
      td {
        border-top: 1px solid transparent !important;
      }
    }
  }
}
.view-edit-profile {
 #profile-edit {
   .h5 {
     font-size: 14px;
     font-weight: bold;
     margin-bottom: 0;
   }
   .nameUser {
     font-size: 14px;
     color: $grey-light;
   }
   .row {
     margin-bottom: 15px;
   }
   label {
     margin-bottom: 5px;
     font-weight: 600;
   }
   .user-avatar {
     height: 62px;
     width: 62px;
     overflow: hidden;
     min-height: 62px;
     min-width: 62px;
     border-radius: 50px;
   }
   .img-user-avatar {
     background-size: cover;
     width: 62px;
     height: 62px;
     background-position: 50% 50%;
   }
   .row-flex {
     display: -webkit-inline-box;
     display: flex;
   }
   .col-info-user {
     margin-left: 10px;
     .nameUser {
       margin-bottom: 0 !important;
     }
     a {
       font-size: 12px;
       font-weight: normal;
     }
   }
 }
}