.view-publish {
  label {
    font-size: 14px;
  }
  .input-radio .input__label {
    font-size: 14px;
  }
  input, select {
    height: auto;
  }
  .li-title-steps {
    font-size: 14px;
    p.active {
      color: $color-blue-primary;
    }
  }
  .section-title-step, .section-text-step {
    margin-bottom: 20px;
    .title-steps {
      font-size: 14px;
      color: $color-blue-primary;
      font-weight: bold;
      margin-bottom: 0;
    }
    .description-step-title {
      font-size: 14px;
    }
  }

  .step-1 {
    .box-content-step-1 {
      border: 1px solid #ececec;
      padding: 20px;
    }
    .upload-img {
      position: relative;
      margin-bottom: 10px;
      .delete-img-step-1 {
        position: absolute;
        right: 10px;
        top: 5px;
        width: 20px;
        height: 20px;
        background-color: $color-white;
        text-align: center;
        border-radius: 10px;
        border: solid 1px #ececec;
        a {
          color: $grey-light;
          position: relative;
          top: -1px;
        }
      }
      video {
        width: 100%;
      }
    }

    .row-options-steps-1 {
      margin-top: 160px;
      margin-bottom: -50px;
      .button-add-text {
        background-image: url("/img/crea-web/publish/b-text.png");
        width: 60px;
        height: 60px;
        margin: 0 auto;
        cursor: pointer;
      }
      .button-add-text:hover {
        background-image: url("/img/crea-web/publish/more-img-hover.png");
        width: 60px;
        height: 60px;
        margin: 0 auto;
      }
      .img-disabled-file {
        background-image: url("/img/crea-web/publish/b-img-disabled.png") !important;
      }
      .img-disabled-text {
        background-image: url("/img/crea-web/publish/b-text-disabled.png") !important;
      }
      .button-add-file {
        background-image: url("/img/crea-web/publish/b-img.png");
        width: 60px;
        height: 60px;
        margin: 0 auto;
        cursor: pointer;
      }
      .button-add-file:hover {
        background-image: url("/img/crea-web/publish/more-img-hover.png");
        width: 60px;
        height: 60px;
        margin: 0 auto;
      }
      p {
        margin-bottom: 0;
      }
      p.title {
        margin-top: 10px;
      }
    }
    p.disabled {
      color: $grey-light;
    }
  }
  .step-2 {

    p.disabled {
      color: $grey-light;
    }
    .box-image-step-2 {
      min-height: 300px;
      .img-protada {
        margin-top: 60px;
      }
    }
    .row-options-steps-1 {
      margin-top: 160px;
      margin-bottom: -50px;
    }
    .input-radio input:checked + label:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 2px;
      top: 2px;
      background-color: $color-blue-primary;
      border-radius: 50%;
    }
    .input-radio input:checked + label {
      background-color: white;
    }
    .input-radio label {
      position: relative;
      background: $radio-button-light;
      border: 1px solid $radio-button-light;
    }
    .input-radio-step-2 {
      display: flex;
      margin-top: 10px;
      .input-radio:nth-child(2) {
        margin-left: 15px;
      }
      .input-radio {
        display: flex;
        label {
          margin-left:5px;
        }
      }
    }
  }
  .step-4 {
    .row-options-steps-1 {
      margin-top: 160px;
      margin-bottom: -50px;
    }
    .input-radio input:checked + label:after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: 2px;
      top: 2px;
      background-color: $color-blue-primary;
      border-radius: 50%;
    }
    .input-radio input:checked + label {
      background-color: white;
    }
    .input-radio label {
      position: relative;
      background: $radio-button-light;
      border: 1px solid $radio-button-light;
    }
    .input-radio-step-2 {
      display: flex;
      margin-top: 10px;
      .input-radio:nth-child(2) {
        margin-left: 15px;
      }
      .input-radio:nth-child(3) {
        margin-left: 15px;
      }
      .input-radio {
        display: flex;
        span {
          margin-left: 5px;
        }
      }
    }
    .ul-icon-license {
      img {
        width: 30px;
      }
    }
    .row-text-license {
      margin-top: 20px;
      p {
        font-size: 14px;
        margin-bottom: 0;
      }
      span {
        font-size: 14px;
        color: $color-blue-primary;
      }
    }
    .row-text-finish {
      margin-bottom: 20px;
      p {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
      }
      span {
        font-size: 12px;
      }
    }
  }
}