// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  #slide-home .background-image-holder {
    height: 330px;
  }
  .card-home {
    .dropdown__container.price > .container {
      min-width: 249px;
      max-width: 250px;
    }
    .dropdown__container.dropdown-info-user > .container  {
      min-width: 249px;
      max-width: 250px;
    }
  }
  .view-profile {
    .dropdown__container > .container {
      width: 130px;
      max-width: 1140px;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .bar-1 .menu-horizontal > li:not(:first-child) {
    margin-left: 7px;
  }
  .bar .menu-horizontal {
    position: relative;
    top: 0px;
  }
  .btn {
    min-width: 100px;
  }
  .container-fluid {
    max-width: 100%;
  }
  .container {
    max-width: 720px;
  }
  .card-home {
    .dropdown__container.price > .container {
      min-width: 249px;
      max-width: 250px;
    }
    .dropdown__container.dropdown-info-user > .container  {
      min-width: 249px;
      max-width: 250px;
    }
  }
  .li-avatar-navbar {
    .dropdown__container {
      left: -60px !important;
      top: 37px;
      .container {
        min-width: 140px;
        max-width: 140px;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {


  .card-home {
    .dropdown__container.price > .container {
      min-width: 249px;
      max-width: 250px;
    }
    .dropdown__container.dropdown-info-user > .container  {
      min-width: 249px;
      max-width: 250px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #menu1 {
    .container {
      max-width: 100%;
    }
    .container-fluid {
      max-width: 1200px;
    }
  }
  .container {
    max-width: 1200px;
  }
  .post-container-home {
    .col-xl-3-cust {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  .project-profile {
    .col-xl-3-cust {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  .card-home {
    .dropdown__container.price > .container {
      min-width: 249px;
      max-width: 250px;
    }
    .dropdown__container.dropdown-info-user > .container  {
      min-width: 249px;
      max-width: 250px;
    }
  }
}

@media (min-width: 1500px) {
  .post-container-home {
    max-width: 1500px;
  }
  #menu1 {
    .container-fluid {
      max-width: 1500px;
    }
  }
  .post-container-home {
    .col-xl-2-cust {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
  }
  .project-profile {
    .col-xl-3-cust {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
  .card-home {
    .dropdown__container.price > .container {
      min-width: 249px;
      max-width: 250px;
    }
    .dropdown__container.dropdown-info-user > .container  {
      min-width: 249px;
      max-width: 250px;
    }
  }
}




