@import "color";
.view-welcome {
  background-color: $color-white;
  .logo-welcome {
    margin: 0 0 120px;
    width: 105px;
  }
  .show-row {
    overflow: visible !important;
  }
  h1 {
    font-size: 25px;
    font-weight: 400;
    color: $color-dark-primary;
  }
  .lead {
    font-size: 14px;
    color: $color-dark-primary;
  }
  .circle-welcome {
    width: 9px;
    height: 9px;
    border-radius: 5px;
    background-color: $grey-circle;
  }
  .circle-welcome.active {
    background-color: $active-circle;
  }
  .list-inline li:not(:last-child) {
    margin-right: 0.85714286em;
  }
  .btn {
    border-radius: 25px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 2em;
    padding-left: 2em;
    border: 1px solid white;
    border-width: 1px;
    font-size: inherit;
    line-height: 1.85714286em;
  }
  .content-slide-welcome {
    line-height: 74px;
  }
  .col-terms {
    margin-bottom: -40px;
  }
  .btn--transparent {
    span {
      color: $color-dark-primary;
    }
  }
  @media (min-width: 300px) and (max-width: 575px) {
    .container {
      max-width: 90%;
    }
    .logo-welcome {
      margin: 200px 0 30px;
      width: 160px;
    }
    .ul-row-pagination {
      display: flex !important;
    }
    .background-image-holder {
      height: 400px;
    }
    .switchable .row > div[class*='col-']:last-child:not(:only-child) {
      margin-top: 0;
    }
    .switchable .row > div[class*='col-']:last-child:not(:only-child) {
      margin-top: 0;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .logo-welcome {
      margin: 200px 0 60px;
    }
    .ul-row-pagination {
      display: flex !important;
    }
    .background-image-holder {
      height: 400px;
    }
    .switchable .row > div[class*='col-']:last-child:not(:only-child) {
      margin-top: 0;
    }

  }
}
.banner-welcome-1 {
  left: 0 !important;
}

[data-overlay="4"]:before {
  opacity: 0 !important;
}
.col-banner-content {
  margin-left: 50% !important;
}
.imagebg:not(.image--light) h1, .imagebg:not(.image--light) h2, .imagebg:not(.image--light) h3, .imagebg:not(.image--light) h4, .imagebg:not(.image--light) h5, .imagebg:not(.image--light) h6, .imagebg:not(.image--light) p, .imagebg:not(.image--light) ul, .imagebg:not(.image--light) blockquote {
  color: $color-dark-primary;
}
[data-overlay]:before {
  background: #f9f9f9;
}
.slide-img-1 {
  background-image: url('/img/crea-web/welcome/slide-1.jpg');
}
.position-img-slide {
  background-size: contain;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}