<div class="step-1">
    <div class="boxed boxed--border align-content-center">
        <div v-if="bodyElements.length == 0 && !editor.show" class="section-title-step">
            <h4 class="title-steps">{{ lang.PUBLISH.PUBLISH_NOT_AVAILABLE_TITLE }}</h4>
            <span class="description-step-title">{{ lang.PUBLISH.PUBLISH_NOT_AVAILABLE_SUBTITLE }}</span>
        </div>
    </div>
</div>
