<div class="view-empty">
    <section class="height-60 bg--light text-center">
        <div class="container pos-vertical-center">
            <div class="row align-items-center">
                <div class="col-md-12 text-center">
                    <img src="/img/empty.svg" alt="" />
                    <div class="row mt-2">
                        <div class="col-md-4 col-sm-6">
                            <p class="title">{{ '{{ lang.HOME.EMPTY_TITLE }}' }}</p>
                            <p class="subtitle">{{ '{{ lang.HOME.EMPTY_SUBTITLE }}' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
