<div id="post-view">
    <div class="box-next-post" style="z-index: 1">
        <div v-if="state.postIndex > 0" class="next-left">
            <div class="cursor-link" v-on:click="lastPost">
                <img src="/img/next_post/esperra.svg" alt="">
            </div>
        </div>
        <div v-if="state.postIndex <= (state.discussions.length - 2)" class="next-right">
            <div class="cursor-link" v-on:click="nextPost">
                <img src="/img/next_post/dreta.svg" alt="">
            </div>
        </div>
    </div>
    <div class="modal-content">
        <div v-cloak v-if="state.post">
            {{ include('modules/post.php.twig') }}
        </div>
        {#<div v-else class="loading">
            <div class="center-loading">
                <svg viewBox="0 0 50 50" class="spinner">
                    <circle class="ring" cx="25" cy="25" r="22.5" />
                    <circle class="line" cx="25" cy="25" r="22.5" />
                </svg>
            </div>
        </div>#}
    </div>

</div>

