<div class="modal-instance">
    <div id="modal-post" data-modal-id="modal-post" class="modal-container post-view">
        {{ include('post-home.php.twig') }}
    </div>

</div>

{{ include('modules/post-modals.php.twig') }}