{{ include ('element/navbar.php.twig') }}
    <div class="main-container">
        <section id="legal-doc" class="space--sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="mb-0">Creativechain FDN privacy policy for Creary.net services </h3>
                        <p>Effective: September 19, 2019</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-justify">
                        <p>This Privacy Policy describes how Creary collects, uses and discloses information, and what options it has regarding the information. This Policy applies to creary.net, subdomains of creary.net and services (collectively, “Services").</p>
                        <p>When we refer to "Creary", we refer to the Creary app and services as a product of Creativechain FDN, entity that acts as the controller of the information.</p>
                        <p>The treatment of your data and this Privacy Policy will be processed by the General Data Protection Regulation or Regulation [EU] 2016/679) (the "RGPD").</p>
                        <p>By using the Services, you agree to the terms of our privacy policy and our Terms of Service, and accept our initial collection, use, disclosure and retention of your information as described in this Policy and Terms of Service.</p>
                        <p>Please note that this Policy does not apply to information collected through third-party websites or services that you may access through the Services or that you submit to us through email, text message or other electronic message or offline.</p>
                        <h4>1. WHAT WE COLLECT</h4>
                        <p>We get information about you in a range of ways.</p>
                        <p>Information You Give Us.</p>
                        <p>Information we collect from you includes:<br>
                            Network information regarding transactions;<br>
                            Contact information, such as your email address;
                        </p>
                        <p>Information Automatically Collected. We may automatically record certain information about how you use our Site (we refer to this information as “Log Data“). Log Data may include information such as a user’s Internet Protocol (IP) address, device and browser type, operating system. We use this information to administer and provide access to the Services.</p>
                        <p>We will never ask you to share your private keys or the seed of your wallet. Never trust anyone or anywhere that asks you to enter your private keys or the seed of your wallet.</p>
                        <h4>2. USE OF PERSONAL INFORMATION</h4>
                        <p>To provide our service we will use your personal information in the following ways:</p>
                        <ul>
                            <li><p>To enable you to access and use the Services.</p></li>
                            <li><p>To comply with law: we use your personal information as we believe necessary or appropriate to comply with applicable laws, lawful requests and legal process, such as to respond to subpoenas or requests from government authorities in any matter (administrative, tax, civil or criminal).<br>
                                    We do not share or sell the personal information that you provide us with other organizations without your express consent, except as described in this Privacy Policy.<br>
                                    Professional Advisors and Service Providers. We may share information with those who need it to do work for us. These recipients may include third party companies and individuals to administer and provide the Service on our behalf (such as customer support, hosting, email delivery and database management services), as well as lawyers, auditors, and insurers.<br>
                                    Other. You may permit us to share your personal information with other companies or entities of your choosing. Those uses will be subject to the privacy policies of the recipient entity or entities.<br>
                                    We may also share aggregated and/or anonymized data with others for their own uses.
                                </p>
                            </li>
                        </ul>
                        <h4>3. INTERNATIONAL TRANSFER</h4>
                        <p>The Company has offices inside the EU and has affiliates and service providers in other countries. Your personal information may be transferred to other locations outside of your state, province, country or other governmental jurisdiction where privacy laws may not be as protective as those in your jurisdiction.</p>
                        <p>EU users should read the important information provided below about transfer of personal information outside of the European Economic Area (EEA).</p>
                        <h4>4. HOW INFORMATION IS SECURED</h4>
                        <p>We retain information we collect as long as it is necessary and relevant to fulfill the purposes outlined in this privacy policy. In addition, we retain personal information to comply with applicable law where required, prevent fraud, resolve disputes, troubleshoot problems, assist with any investigation, enforce our Terms of Use, and other actions permitted by law. To determine the appropriate retention period for personal information, we consider the amount, nature, and sensitivity of the personal information, the potential risk of harm from unauthorized use or disclosure of your personal information, the purposes for which we process your personal information and whether we can achieve those purposes through other means, and the applicable legal requirements.</p>
                        <p>In some circumstances we may anonymize your personal information (so that it can no longer be associated with you) in which case we may use this information indefinitely without further notice to you.</p>
                        <p>We employ industry standard security measures designed to protect the security of all information submitted through the Services. However, the security of information transmitted through the internet can never be guaranteed. We are not responsible for any interception or interruption of any communications through the internet or for changes to or losses of data. Users of the Services are responsible for maintaining the security of any password, user identification or other form of authentication involved in obtaining access to password protected or secure areas of any of our digital services.</p>
                        <h4>5. RECIPIENTS</h4>
                        <p>The files are stored in our Web storage providers, shipping management, email and online marketing, in accordance with the EU Privacy security:</p>
                        <ul>
                            <li><p>List of places where we keep information:</p></li>
                            <li><p>OVH (EU)</p></li>
                            <li><p>Contabo (EU)</p></li>
                        </ul>
                        <p>By accepting this Privacy Policy, you expressly authorize us to treat and communicate your personal data to possible companies or foundations linked to us and / or to transfer your personal data to the referred service providers as treatment managers located for the purposes described here and to give you a complete service.</p>
                        <p>Creativechain FND expressly informs and guarantees users that their personal data will not be transferred in any case to third companies and that, whenever some type of personal data transfer was to be made, prior consent would be requested, informed, and unmistakable by the owners.</p>
                        <h4>6. RIGHT OF ACCESS, RECTIFICATION, OPPOSITION AND CANCELLATION</h4>
                        <p>In order to exercise your rights of access, rectification, opposition or cancellation, you can access the information you have voluntarily provided through your account in the Services, and review, correct or eliminate it by sending a request to
                            <a href="mailto:privacy@creary.net" target="_blank">privacy@creary.net</a>. You can request to change the contact options, choose not to share it with other people and update your information and personal preferences. We can demand that you be the user that you say you are by proving that you have control of your publication key through our transport API.</p>
                        <p>Likewise, you may choose not to receive direct marketing communications that you have previously agreed to receive. We may continue to send you Service-related and other non-marketing communications.</p>
                        <h4>7. CONTACT INFORMATION.</h4>
                        <p>Your comments or questions about this Policy are welcome, and you can contact us at: <a href="mailto:privacy@creary.net" target="_blank">privacy@creary.net</a>.</p>
                        <p>CHANGES TO THIS PRIVACY POLICY.</p>
                        <p>We may change this privacy policy at any time. We encourage you to periodically review this page for the latest information on our privacy practices. If we make any changes, we will change the Last Updated date above and we will inform you of the existence of the changes, so that you can conveniently review them.</p>
                        <p>Any modifications to this Privacy Policy will be effective upon our posting of the new terms and/or upon implementation of the changes to the Site (or as otherwise indicated at the time of posting). In all cases, your continued use of the the Site or Services after the posting of any modified Privacy Policy indicates your acceptance of the terms of the modified Privacy Policy.</p>
                        <h4>8. ELIGIBILITY</h4>
                        <p>If you are under the age of majority in your jurisdiction of residence, you may use the Services only with the consent of or under the supervision of your parent or legal guardian. Consistent with the requirements of the RGDP, if we learn that we have received any information directly from a child without first receiving his or her parent's verified consent, we will use that information only to respond directly to that child (or his or her parent or legal guardian) to inform the child that he or she cannot use the Site and subsequently we will delete that information.</p>
                        <h4>9. COOKIES POLICY</h4>
                        <h4>WHAT IS A COOKIE?</h4>
                        <p>A cookie is a small text file that is downloaded to your computer's browser, mobile phone, tablet or any other Internet access device when you visit a website.</p>
                        <h4>WHAT ARE THEY FOR?</h4>
                        <p>Cookies are used to recognize the device when you return to visit the website, facilitating its use when remembering your preferences and navigation settings (eg language, country, access data, etc.). They also provide certain functionalities (eg, display ads related to the content of the pages you visit, avoid showing you continuously announcements that you have already seen, etc.), and allow us to collect anonymous statistical information about the user’s site navigation.</p>
                        <p>There are other technologies such as pixel tags ("pixel tags"), web bugs ("web bugs"), web storage and other similar files and technologies that can also perform the same function as cookies. We use the term "cookie" to refer to all similar technologies that collect information in this way.</p>
                        <p>The cookies do not store any personal data, nor any type of information that can identify you, and they are useful and important because they allow the web to work in an agile way and adapted to your preferences.</p>
                        <h4>WHY DO WE USE COOKIES?</h4>
                        <p>We generally use cookies for the following purposes:</p>
                        <p>To allow registered users to stay connected to the site after they close their browser window.</p>
                        <p>To store user preferences for site functionality.</p>
                        <p>To track the use of the site so we can improve our site and better understand how people are using it.</p>
                        <p>To better understand the interests of our users and visitors to our website.</p>
                        <p>Some Cookies are necessary for certain uses of the Site, and without such Cookies, we would not be able to provide many services that you need to properly use the Site. These Cookies, for example, allow us to operate our Site so you may access it as you have requested and let us recognize that you have created an account and have logged into that account to access Site content. They also include Cookies that enable us to remember your previous actions within the same browsing session and secure our Sites.</p>
                        <p>We also use functional Cookies and Cookies from third parties for analysis and marketing purposes. Functional Cookies enable certain parts of the site to work properly and your user preferences to remain known. Analysis Cookies, among other things, collect information on how visitors use our Site, the content and products that users view most frequently, and the effectiveness of our third party advertising. Advertising Cookies assist in delivering ads to relevant audiences and having our ads appear at the top of search results. Cookies are either "session" Cookies which are deleted when you end your browser session, or "persistent," which remains until their deletion by you (discussed below) or the party who served the cookie. Full details on all of the Cookies used on the Site are available at our Cookie Disclosure table below.</p>
                        <h4>HOW TO DISABLE COOKIES?. </h4>
                        <p>You can generally activate or later deactivate the use of cookies through a functionality built into your web browser. To learn more about how to control cookie settings through your browser:</p>
                        <p><a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank">Click here</a> to learn more about the “Private Browsing” setting and managing cookie settings in Firefox:</p>
                        <p><a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">Click here</a> to learn more about the “Private Browsing” setting and managing cookie settings in Chrome:</p>
                        <p><a href="https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Click here</a> to learn more about the “Private Browsing” setting and managing cookie settings in Internet Explorer:</p>
                        <p><a href="https://support.apple.com/kb/ph21411?locale=en_US" target="_blank">Click here</a> to learn more about the “Private Browsing” setting and managing cookie settings in Safari:</p>
                        <p>If you want to learn more about cookies, or how to control, disable or delete them, please visit http://www.aboutcookies.org for detailed guidance. In addition, certain third party advertising networks, including Google, permit users to opt out of or customize preferences associated with your internet browsing.</p>
                        <p>We may link the information collected by Cookies with other information we collect from you to this Privacy Policy and use the combined information as set forth herein. Similarly, the third parties who serve cookies on our Site may link your name or email address to other information they collect, which may include past purchases made offline or online, or your online usage information. If you are located in the European Economic Area, you have certain rights that are described above under the heading "Notice to EU Data Subjects", including the right to inspect and correct or delete the data that we have about you.</p>
                        <h4>TYPES OF COOKIES THAT WE USE</h4>
                        <p class="type--underline">Preference cookies</p>
                        <p>They allow the user to access the Service with some predefined general characteristics based on a series of criteria in the user's device. These cookies allow us to know if you have visited our website before. They keep your preferences for certain tools or services so you do not have to configure the website every time you visit us. They retain user navigation preferences, such as language, browser type or aesthetic elements of the content.</p>
                        <p class="type--underline">Registration and session cookies</p>
                        <p>These cookies keep the necessary information during the session and the changes related to it, and determine if you are registered or not on the web. They are used to identify your user account. These cookies are kept as long as you do not leave the session, close the browser or turn off the device.</p>
                        <p class="type--underline">Geolocation cookies.</p>
                        <p>These cookies, by third parties, are used by programs that try to identify geographically the location of the device from which the user is connected (computer, smartphone, tablet, etc.), to offer anonymous content and services that best suit his location .</p>
                        <p>Third party cookies of this type on our website: Google Analytics, Google Adwords, Twitter and Facebook.</p>
                        <p class="type--underline">Analytic cookies.</p>
                        <p>These cookies allow quantifying the number of visitors and statistically analyze the browsing of users through our website always anonymously.</p>
                        <p>Third party cookies of this type on our website: Google Analytics, Google Adwords, Twitter and Facebook.</p>
                        <p class="type--underline">Advertising cookies</p>
                        <p>They allow the management, in the most efficient way possible, of the advertising spaces that, if applicable, the editor has included in a website, application or platform from which the requested service is provided. These cookies store information on the behavior of users obtained through the continuous observation of their browsing habits, which allows the development of a specific profile to display advertising based on it.</p>
                        <p>Third party cookies of this type on our website: Google Adwords and Facebook.</p>
                        <p class="type--underline">Social network cookies</p>
                        <p>They are used so that visitors can interact with the content of different social platforms (Facebook, YouTube, Twitter, etc.) and that they are generated only for the users of these social networks. The conditions of use of these cookies and the information collected is regulated by the privacy policy of the corresponding social platform.</p>
                        <p>Third party cookies of this type on our website: Twitter, Facebook, Google +, LinkedIn, Pinterest.</p>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/common/tags.js"></script>


{{ include ('element/footer.php.twig') }}