<div class="modal-instance">
    <button class="modal-trigger img-post-list"></button>
    <div class="modal-container">
        <div class="modal-content section-modal">
            <section class="unpad">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-11">

                            <div class="boxed feature modal-view-post">
                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="row">
                                            <div class="col-md-12 img-post-view">
                                                <img src="/img/crea-web/publish/demo-upload.png" class="img--fullwidth" alt="" />
                                                <img src="/img/crea-web/publish/demo-upload.png" class="img--fullwidth" alt="" />
                                            </div>
                                            <div class="col-md-12 content-post">
                                                <h2 class="title-view-post">Lorem ipsum dolor sit amet.</h2>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                                <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                                <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam </p>
                                            </div>
                                        </div>
                                        <div class="row row-promote justify-content-center">
                                            <div class=" col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Promocionar</button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><p class="subtitle-content-publish">More projects</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="img-more-projects"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="img-more-projects"></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="img-more-projects"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><p class="subtitle-content-publish">Your comments</p></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="boxed boxed--border box-comment">
                                                    <div class="section-title-step">
                                                        <h4 class="title-steps">Portada</h4>
                                                        <span class="description-step-title">Selecciona o arrastra la imagen destacada para la portada de tu publicación. </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        menu
                                    </div>
                                </div>
                                <div class="modal-close modal-close-cross"></div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
    </div>
</div>